:root {
  --font-display: "Cormorant Garamond", Georgia, "Times New Roman", ui-serif, serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: "Cormorant Garamond", Georgia, "Times New Roman", serif;
  --font-serif: "Cormorant Garamond", Georgia, "Times New Roman", serif;
}
